{% include '_header.twig' %}

{#{% setcontent items = 'schedule-records' %}
{% set days = getScheduleArray(items) %}
{{ dump(days) }}#}
<section class="content">
    <div class="sec sec-inner container">
        <div class="col-xs-12"><h3 data-bolt-field="title">{{ record.title }}</h3>

            <div class="blog-body clearfix">
                {% if record.image is defined %}
                    <img src="{{ record.image|image(358, 0, "r") }}" class="col-xs-4 blog__img">
                {% endif %}
                <div data-bolt-field="body">
                    {{ record.body }}
                </div>
            </div>
            <p>&nbsp;</p>

            <p>&nbsp;</p>
        </div>
    </div>
</section>
{% include '_footer.twig' %}
