<div class="col-md-4">
    <div class="feature-box fbox-plain">
        <div class="fbox-icon">
            <i class="i-alt">{{ num }}.</i>
        </div>
        <h3>{{ title|raw }}</h3>
        <p>{{ text|raw }}</p>
    </div>
</div>