<!-- Modal -->
<div class="modal1 mfp-hide" id="modal-callback">
    <div class="block dark divcenter" style="background: url('{{ paths.theme }}images/modals/modal1.jpg') no-repeat; background-size: cover; max-width: 700px;" data-height-lg="400">
        <div style="padding: 50px;">
            <div class="heading-block nobottomborder bottommargin-sm" style="max-width:500px;">
                <h3>Обратный звонок</h3>
                <span>Оставьте номер телефона и мы перезвоним вам</span>
            </div>
            <form id="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" style="max-width: 350px;">
                <input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control input-lg not-dark required email" placeholder="Номер вашего телефона">
                <button class="button button-rounded button-border button-light noleftmargin" type="submit" style="margin-top:15px;">Заказать обратный звонок</button>
            </form>
            <p class="nobottommargin"><small><em>*Мы не рассылаем спам</em></small></p>
        </div>
    </div>
</div>