<div class="file-item">
    <div class="file-item__icon">
        <a href="#"><img src="{{ paths.theme }}images/filetypes/doc.png" alt=""></a>
    </div>

    <div class="file-item__name file-item__meta"><a href="#">Справочная информация для дилеров.doc</a></div>
    <div class="file-item__size file-item__meta">1 МБ</div>
    <div class="file-item__type file-item__meta">doc</div>
    <div class="file-item__tags file-item__meta">брошюры</div>

    <div class="clearfix"></div>
</div>