<!-- Copyrights
============================================= -->
<div id="copyrights">

    <div class="container clearfix">

        <div class="col_two_third copyrights__text nobottommargin">
            Обращаем ваше внимание на то, что данный сайт носит исключительно информационный характер и ни при
            каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса
            Российской Федерации. Для получения подробной информации о наличии и стоимости указанных услуг, а также их
            комплектации, пожалуйста, обращайтесь к менеджерам по продажам по телефону указанному на сайте.
        </div>

        <div class="col_one_third col_last tright nobottommargin">
            <div class="fright clearfix">


                <a href="#" class="social-icon si-small si-borderless si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-gplus">
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-pinterest">
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-vimeo">
                    <i class="icon-vimeo"></i>
                    <i class="icon-vimeo"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-github">
                    <i class="icon-github"></i>
                    <i class="icon-github"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-yahoo">
                    <i class="icon-yahoo"></i>
                    <i class="icon-yahoo"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-linkedin">
                    <i class="icon-linkedin"></i>
                    <i class="icon-linkedin"></i>
                </a>
            </div>

            <div class="clear"></div>
            <div class="copyrights-menu copyright-links nobottommargin">
                <a href="#">Ответы на вопросы</a>/<a href="#">Сотрудничетво</a>/<a href="#">Контакты</a>
            </div>
            <div class="clear"></div>
        </div>

    </div>

</div><!-- #copyrights end -->