<!-- Top Bar
============================================= -->
<div id="top-bar">

    <div class="container clearfix">

        <div class="col_half nobottommargin">

            <!-- Top Links
            ============================================= -->
            <div class="top-links">
                <ul>
                    <li><a href="faqs.html"><i class="icomoon-star"></i>добавить в закладки</a></li>
                    <li><a href="contact.html"><i class="icomoon-hammer"></i>пригласить на тендер</a></li>
                    <li><a href="contact.html"><i class="icomoon-email"></i>info@sindy.ru</a></li>
                </ul>
            </div><!-- .top-links end -->

        </div>

        <div class="col_half fright col_last nobottommargin">
            <div class="top-bar-adress">Санкт-Петербург, Свердловская наб., 4</div>
        </div>

    </div>

</div><!-- #top-bar end -->