<!-- Primary Navigation
            ============================================= -->
<nav id="primary-menu" class="style-2">

    <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <ul>
            <li class="current"><a href="/catalog"><div>Продукция</div></a>
                <ul class="xl">
                    <li><a href="/siries"><div><i class="icomoon-buildings"></i>Цены на окна по сериям домов</div></a></li>
                    <li><a href="/catalog"><div><i class="icomoon-buildings"></i>Продукция</div></a></li>
                    <li><a href="/profile-systems"><div><i class="icomoon-buildings"></i>Профильные системы Rehau</div></a></li>
                    <li><a href="/documents"><div><i class="icomoon-buildings"></i>Нормативные документы</div></a></li>
                    <li><a href="/plastic-windows"><div><i class="icomoon-factory"></i>Пластиковые окна</div></a></li>

                </ul>
            </li>
            <li><a href="/services"><div>Услуги</div></a>
                <ul class="xl">
                    <li><a href="/services"><div><i class="icomoon-info"></i>Услуги</div></a></li>
                    <li><a href="/osteklenie-kottedjey-i-zagorodnih-domov"><div><i class="icomoon-factory"></i>Остекление коттеджей</div></a></li>
                    <li><a href="/osteklenie-balkonov"><div><i class="icomoon-factory"></i>Остекление балконов и лоджий</div></a></li>
                    <li><a href="/make-order"><div><i class="icomoon-factory"></i>Сделать заказ</div></a></li>
                    <li><a href="/montaj-okon"><div><i class="icomoon-factory"></i>Монтаж окон</div></a></li>
                    <li><a href="/montaj-okon-gost"><div><i class="icomoon-factory"></i>Монтаж окон по ГОСТ</div></a></li>
                    <li><a href="/montaj-okon-standart"><div><i class="icomoon-factory"></i>Монтаж окон стандарт</div></a></li>
                    <li><a href="/montaj-okon-ekonom"><div><i class="icomoon-factory"></i>Монтаж окон эконом</div></a></li>
                    <li><a href="/dostavka"><div><i class="icomoon-factory"></i>Доставка</div></a></li>
                    <li><a href="/vyzov-specialsta-na-dom"><div><i class="icomoon-factory"></i>Вызов специалиста на дом</div></a></li>
                    <li><a href="/teh-konsultacii"><div><i class="icomoon-factory"></i>Технические консультации</div></a></li>
                    <li><a href="/it-podderjka"><div><i class="icomoon-factory"></i>IT-подержка</div></a></li>
                    <li><a href="/podderjka-klientov"><div><i class="icomoon-factory"></i>Поддержка клиентов</div></a></li>
                </ul>
            </li>
            <li class="mega-menu"><a href="/specials"><div>Акции</div></a>
                <div class="mega-menu-content style-2 col-4 clearfix">
                    <ul>
                        <li class="mega-menu-title"><a href="#"><div>Introduction</div></a>
                            <ul>
                                <li><a href="about.html"><div>About Us</div></a></li>
                                <li><a href="about-2.html"><div>About Us - Layout 2</div></a></li>
                                <li><a href="about-me.html"><div>About Me</div></a></li>
                                <li><a href="team.html"><div>Team Members</div></a></li>
                                <li><a href="jobs.html"><div>Careers</div></a></li>
                                <li><a href="side-navigation.html"><div>Side Navigation</div></a></li>
                                <li><a href="page-submenu.html"><div>Page Submenu</div></a></li>
                                <li><a href="sitemap.html"><div>Sitemap</div></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="mega-menu-title"><a href="#"><div>Utility</div></a>
                            <ul>
                                <li><a href="services.html"><div>Services - Layout 1</div></a></li>
                                <li><a href="services-2.html"><div>Services - Layout 2</div></a></li>
                                <li><a href="services-3.html"><div>Services - Layout 3</div></a></li>
                                <li><a href="faqs.html"><div>FAQs - Layout 1</div></a></li>
                                <li><a href="faqs-2.html"><div>FAQs - Layout 2</div></a></li>
                                <li><a href="faqs-3.html"><div>FAQs - Layout 3</div></a></li>
                                <li><a href="faqs-4.html"><div>FAQs - Layout 4</div></a></li>
                                <li><a href="maintenance.html"><div>Maintenance Page</div></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="mega-menu-title"><a href="#"><div>Layout Grids</div></a>
                            <ul>
                                <li><a href="full-width.html"><div>Full Width</div></a></li>
                                <li><a href="full-width-wide.html"><div>Full Width - Wide</div></a></li>
                                <li><a href="right-sidebar.html"><div>Right Sidebar</div></a></li>
                                <li><a href="left-sidebar.html"><div>Left Sidebar</div></a></li>
                                <li><a href="both-sidebar.html"><div>Both Sidebar</div></a></li>
                                <li><a href="both-right-sidebar.html"><div>Both Right Sidebar</div></a></li>
                                <li><a href="both-left-sidebar.html"><div>Both Left Sidebar</div></a></li>
                                <li><a href="blank-page.html"><div>Blank Page</div></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="mega-menu-title"><a href="#"><div>Miscellaneous</div></a>
                            <ul>
                                <li><a href="login-register.html"><div>Login/Register</div></a></li>
                                <li><a href="login-register-2.html"><div>Login/Register - Style 2</div></a></li>
                                <li><a href="login-register-3.html"><div>Login/Register - Style 3</div></a></li>
                                <li><a href="login-1.html"><div>Login - Style 1</div></a></li>
                                <li><a href="login-2.html"><div>Login - Style 2</div></a></li>
                                <li><a href="404.html"><div>404 - Simple Layout</div></a></li>
                                <li><a href="404-2.html"><div>404 - Parallax Image</div></a></li>
                                <li><a href="404-3.html"><div>404 - HTML5 Video</div></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="/about"><div>О нас</div></a>
                <ul>
                    <li><a href="/about"><div><i class="icomoon-info"></i>О нас</div></a></li>
                    <li><a href="/production"><div><i class="icomoon-factory"></i>Производство</div></a></li>
                    <li><a href="/partner"><div><i class="icomoon-peoples"></i>Партнёры</div></a></li>
                    <li><a href="/contact"><div><i class="icomoon-doc"></i>Реквизиты компании</div></a></li>
                    <li><a href="/testimonials"><div><i class="icomoon-bubble"></i>Отзывы покупателей</div></a></li>
                    <li><a href="/works"><div><i class="icomoon-image"></i>Наши работы</div></a></li>
                    <li><a href="/certificates"><div><i class="icomoon-cert"></i>Сертификаты</div></a></li>
                    <li><a href="#"><div><i class="icomoon-shield"></i>Гарантия</div></a></li>
                    <li><a href="#"><div><i class="icomoon-diamond"></i>Наши преимущества</div></a></li>
                    <li><a href="#"><div><i class="icomoon-read"></i>Новости</div></a></li>
                    <li><a href="/vacancies"><div><i class="icomoon-tie"></i>Вакансии</div></a></li>
                    <li><a href="/faq"><div><i class="icomoon-question"></i>Вопросы и ответы</div></a></li>
                </ul>
            </li>
            <li class="mega-menu"><a href="#"><div>Сотрудничество</div></a>
                <div class="mega-menu-content style-2 col-4 clearfix">
                    <ul>
                        <li class="mega-menu-title"><a href="#"><div>Default</div></a>
                            <ul>
                                <li><a href="blog.html"><div>Right Sidebar</div></a></li>
                                <li><a href="blog-left-sidebar.html"><div>Left Sidebar</div></a></li>
                                <li><a href="blog-both-sidebar.html"><div>Both Sidebar</div></a></li>
                                <li><a href="blog-full-width.html"><div>Full Width</div></a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-title"><a href="#"><div>Timeline</div></a>
                            <ul>
                                <li><a href="blog-timeline-right-sidebar.html"><div>Right Sidebar</div></a></li>
                                <li><a href="blog-timeline-left-sidebar.html"><div>Left Sidebar</div></a></li>
                                <li><a href="blog-timeline.html"><div>Full Width</div></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="mega-menu-title"><a href="#"><div>Masonry</div></a>
                            <ul>
                                <li><a href="blog-masonry.html"><div>4 Columns</div></a></li>
                                <li><a href="blog-masonry-3.html"><div>3 Columns</div></a></li>
                                <li><a href="blog-masonry-2.html"><div>2 Columns</div></a></li>
                                <li><a href="blog-masonry-full.html"><div>100% Width</div></a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-title"><a href="#"><div>Grid</div></a>
                            <ul>
                                <li><a href="blog-grid.html"><div>4 Columns</div></a></li>
                                <li><a href="blog-grid-3.html"><div>3 Columns</div></a></li>
                                <li><a href="blog-grid-2.html"><div>2 Columns</div></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="mega-menu-title"><a href="#"><div>Small Thumbs</div></a>
                            <ul>
                                <li><a href="blog-small-left-sidebar.html"><div>Left Sidebar</div></a></li>
                                <li><a href="blog-small.html"><div>Right Sidebar</div></a></li>
                                <li><a href="blog-small-both-sidebar.html"><div>Both Sidebar</div></a></li>
                                <li><a href="blog-small-full-width.html"><div>Full Width</div></a></li>
                                <li><a href="blog-small-alt.html"><div>Alternate Layout</div></a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-title"><a href="#"><div>Item Splitting</div></a>
                            <ul>
                                <li><a href="blog-grid.html"><div>Pagination</div></a></li>
                                <li><a href="blog-masonry.html"><div>Infinite Scroll</div></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="mega-menu-title"><a href="#"><div>Single</div></a>
                            <ul>
                                <li><a href="blog-single.html"><div>Default Layout</div></a></li>
                                <li><a href="blog-single-left-sidebar.html"><div>Left Sidebar</div></a></li>
                                <li><a href="blog-single-full.html"><div>Full Width</div></a></li>
                                <li><a href="blog-single-small.html"><div>Small Image</div></a></li>
                                <li><a href="blog-single-split-right-sidebar.html"><div>Split Layout</div></a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-title"><a href="#"><div>Comments Module</div></a>
                            <ul>
                                <li><a href="blog-single-left-sidebar.html#comments"><div>Facebook Comments</div></a></li>
                                <li><a href="blog-single-small.html#comments"><div>Disqus Comments</div></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="mega-menu"><a href="#"><div>Калькулятор</div></a>
                <div class="mega-menu-content col-5 clearfix">
                    <ul>
                        <li><a href="animations.html"><div><i class="icon-magic"></i>Animations</div></a></li>
                        <li><a href="buttons.html"><div><i class="icon-link"></i>Buttons</div></a></li>
                        <li><a href="carousel.html"><div><i class="icon-heart3"></i>Carousel</div></a></li>
                        <li><a href="charts.html"><div><i class="icon-bar-chart"></i>Charts</div></a></li>
                        <li><a href="clients.html"><div><i class="icon-apple"></i>Clients</div></a></li>
                        <li><a href="columns-grids.html"><div><i class="icon-th-large"></i>Columns</div></a></li>
                        <li><a href="counters.html"><div><i class="icon-time"></i>Counters</div></a></li>
                    </ul>
                    <ul>
                        <li><a href="dividers.html"><div><i class="icon-indent-right"></i>Dividers</div></a></li>
                        <li><a href="featured-boxes.html"><div><i class="icon-lightbulb"></i>Icon Boxes</div></a></li>
                        <li><a href="gallery.html"><div><i class="icon-picture"></i>Galleries</div></a></li>
                        <li><a href="headings-dropcaps.html"><div><i class="icon-pencil2"></i>Heading Styles</div></a></li>
                        <li><a href="icon-lists.html"><div><i class="icon-list-alt"></i>Icon Lists</div></a></li>
                        <li><a href="labels-badges.html"><div><i class="icon-plus-sign"></i>Labels</div></a></li>
                        <li><a href="lightbox.html"><div><i class="icon-resize-full"></i>Lightbox</div></a></li>
                    </ul>
                    <ul>
                        <li><a href="lists-panels.html"><div><i class="icon-th-list"></i>Lists &amp; Panels</div></a></li>
                        <li><a href="maps.html"><div><i class="icon-map-marker2"></i>Maps</div></a></li>
                        <li><a href="media-embeds.html"><div><i class="icon-play"></i>Media Embeds</div></a></li>
                        <li><a href="modal-popovers.html"><div><i class="icon-move"></i>Modal Boxes</div></a></li>
                        <li><a href="navigation.html"><div><i class="icon-align-justify2"></i>Navigations</div></a></li>
                        <li><a href="pagination-progress.html"><div><i class="icon-cogs"></i>Pagination</div></a></li>
                        <li><a href="pie-skills.html"><div><i class="icon-tasks"></i>Pies &amp; Skills</div></a></li>
                    </ul>
                    <ul>
                        <li><a href="pricing.html"><div><i class="icon-dollar"></i>Pricing Boxes</div></a></li>
                        <li><a href="process-steps.html"><div><i class="icon-thumbs-up"></i>Process Steps</div></a></li>
                        <li><a href="promo-boxes.html"><div><i class="icon-rocket"></i>Promo Boxes</div></a></li>
                        <li><a href="quotes-blockquotes.html"><div><i class="icon-quote-left"></i>Blockquotes</div></a></li>
                        <li><a href="responsive.html"><div><i class="icon-laptop2"></i>Responsive</div></a></li>
                        <li><a href="sections.html"><div><i class="icon-folder-open"></i>Sections</div></a></li>
                        <li><a href="social-icons.html"><div><i class="icon-facebook2"></i>Social Icons</div></a></li>
                    </ul>
                    <ul>
                        <li><a href="style-boxes.html"><div><i class="icon-exclamation-sign"></i>Alert Boxes</div></a></li>
                        <li><a href="styled-icons.html"><div><i class="icon-flag2"></i>Styled Icons</div></a></li>
                        <li><a href="tables.html"><div><i class="icon-table"></i>Tables</div></a></li>
                        <li><a href="tabs.html"><div><i class="icon-star3"></i>Tabs</div></a></li>
                        <li><a href="testimonials-twitter.html"><div><i class="icon-user4"></i>Testimonials</div></a></li>
                        <li><a href="thumbnails-slider.html"><div><i class="icon-camera3"></i>Thumbnails</div></a></li>
                        <li><a href="toggles-accordions.html"><div><i class="icon-ok-circle"></i>Toggles</div></a></li>
                    </ul>
                </div>
            </li>
            <li class="mega-menu"><a href="#"><div>Отзывы</div></a>
                <div class="mega-menu-content col-5 clearfix">
                    <ul>
                        <li><a href="animations.html"><div><i class="icon-magic"></i>Animations</div></a></li>
                        <li><a href="buttons.html"><div><i class="icon-link"></i>Buttons</div></a></li>
                        <li><a href="carousel.html"><div><i class="icon-heart3"></i>Carousel</div></a></li>
                        <li><a href="charts.html"><div><i class="icon-bar-chart"></i>Charts</div></a></li>
                        <li><a href="clients.html"><div><i class="icon-apple"></i>Clients</div></a></li>
                        <li><a href="columns-grids.html"><div><i class="icon-th-large"></i>Columns</div></a></li>
                        <li><a href="counters.html"><div><i class="icon-time"></i>Counters</div></a></li>
                    </ul>
                    <ul>
                        <li><a href="dividers.html"><div><i class="icon-indent-right"></i>Dividers</div></a></li>
                        <li><a href="featured-boxes.html"><div><i class="icon-lightbulb"></i>Icon Boxes</div></a></li>
                        <li><a href="gallery.html"><div><i class="icon-picture"></i>Galleries</div></a></li>
                        <li><a href="headings-dropcaps.html"><div><i class="icon-pencil2"></i>Heading Styles</div></a></li>
                        <li><a href="icon-lists.html"><div><i class="icon-list-alt"></i>Icon Lists</div></a></li>
                        <li><a href="labels-badges.html"><div><i class="icon-plus-sign"></i>Labels</div></a></li>
                        <li><a href="lightbox.html"><div><i class="icon-resize-full"></i>Lightbox</div></a></li>
                    </ul>
                    <ul>
                        <li><a href="lists-panels.html"><div><i class="icon-th-list"></i>Lists &amp; Panels</div></a></li>
                        <li><a href="maps.html"><div><i class="icon-map-marker2"></i>Maps</div></a></li>
                        <li><a href="media-embeds.html"><div><i class="icon-play"></i>Media Embeds</div></a></li>
                        <li><a href="modal-popovers.html"><div><i class="icon-move"></i>Modal Boxes</div></a></li>
                        <li><a href="navigation.html"><div><i class="icon-align-justify2"></i>Navigations</div></a></li>
                        <li><a href="pagination-progress.html"><div><i class="icon-cogs"></i>Pagination</div></a></li>
                        <li><a href="pie-skills.html"><div><i class="icon-tasks"></i>Pies &amp; Skills</div></a></li>
                    </ul>
                    <ul>
                        <li><a href="pricing.html"><div><i class="icon-dollar"></i>Pricing Boxes</div></a></li>
                        <li><a href="process-steps.html"><div><i class="icon-thumbs-up"></i>Process Steps</div></a></li>
                        <li><a href="promo-boxes.html"><div><i class="icon-rocket"></i>Promo Boxes</div></a></li>
                        <li><a href="quotes-blockquotes.html"><div><i class="icon-quote-left"></i>Blockquotes</div></a></li>
                        <li><a href="responsive.html"><div><i class="icon-laptop2"></i>Responsive</div></a></li>
                        <li><a href="sections.html"><div><i class="icon-folder-open"></i>Sections</div></a></li>
                        <li><a href="social-icons.html"><div><i class="icon-facebook2"></i>Social Icons</div></a></li>
                    </ul>
                    <ul>
                        <li><a href="style-boxes.html"><div><i class="icon-exclamation-sign"></i>Alert Boxes</div></a></li>
                        <li><a href="styled-icons.html"><div><i class="icon-flag2"></i>Styled Icons</div></a></li>
                        <li><a href="tables.html"><div><i class="icon-table"></i>Tables</div></a></li>
                        <li><a href="tabs.html"><div><i class="icon-star3"></i>Tabs</div></a></li>
                        <li><a href="testimonials-twitter.html"><div><i class="icon-user4"></i>Testimonials</div></a></li>
                        <li><a href="thumbnails-slider.html"><div><i class="icon-camera3"></i>Thumbnails</div></a></li>
                        <li><a href="toggles-accordions.html"><div><i class="icon-ok-circle"></i>Toggles</div></a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/contact"><div>Контакты</div></a>
                <ul class="xl">
                    <li><a href="/director"><div><i class="icomoon-info"></i>Написать директору</div></a></li>
                </ul>
            </li>
        </ul>

        <!-- Top Search
        ============================================= -->
        <div id="top-search">
            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
            <form action="search.html" method="get">
                <input type="text" name="q" class="form-control" value="" placeholder="Пишите и потом нажмите Enter..">
            </form>
        </div><!-- #top-search end -->

    </div>

</nav><!-- #primary-menu end -->