<!-- Sidebar
                ============================================= -->
<div class="sidebar nobottommargin col_last">
    <div class="sidebar-widgets-wrap">

        {% include 'parts/widget/blog-favorites.twig' %}
        {% include 'parts/widget/works-photo.twig' %}
        {#{% include 'parts/widget/quick-order.twig' %}#}

    </div>
</div><!-- .sidebar end -->