<div class="widget clearfix">

    <h4>Категории</h4>
    <div class="tagcloud">
        <a href="#">Новости</a>
        <a href="#">Акции</a>
        <a href="#">Полезная информация</a>
        <a href="#">Как выбрать пластиковые окна</a>

    </div>

</div>