<div class="widget clearfix">

    <h4>Лучшее из блога</h4>
    <div id="post-list-footer">

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#" class="nobg"><img src="{{ paths.theme }}images/magazine/small/1.jpg" alt=""></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Деградация, на первый взгляд, нейтрализует бурозём</a></h4>
                </div>
                <ul class="entry-meta">
                    <li>10 апр. 2015</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#" class="nobg"><img src="{{ paths.theme }}images/magazine/small/2.jpg" alt=""></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Влагомер методологически вымывает</a></h4>
                </div>
                <ul class="entry-meta">
                    <li>10 мар. 2015</li>
                </ul>
            </div>
        </div>

        <div class="spost clearfix">
            <div class="entry-image">
                <a href="#" class="nobg"><img src="{{ paths.theme }}images/magazine/small/3.jpg" alt=""></a>
            </div>
            <div class="entry-c">
                <div class="entry-title">
                    <h4><a href="#">Сушильный шкаф охлаждает</a></h4>
                </div>
                <ul class="entry-meta">
                    <li>10 июн. 2015</li>
                </ul>
            </div>
        </div>

    </div>

</div>